*{
    margin: 0;
}

body{
    background: url('./gifCyberpunk.gif') no-repeat center center fixed;
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#getAll{
    border: solid 1px white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(128, 0, 128, 0.49);
    color: white;
}

h1{
    text-align: center;
    font-size: 2rem;
}

h2{
    text-align: center;
    font-size: 1.8rem;
}

.colourPallete{
    margin-top: 30px;
    margin-bottom: 20px;
}